.colunas1{
    background-color:azure;
    display: inline-flex;   
    width: 19vw;
    border: 1px solid black;
    justify-content: space-around;
    
   
}

.paginaDash{
    background-color: aquamarine;
    display: inline-flex;
    flex-direction: row;
    
}

.popup {
    position: absolute;
}